<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.set的使用</title>
    <!-- 引入 Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 准备一个容器【Vue 模板】 -->
    <div id="root">
      <h1>Vue.set的使用</h1>

      <h3>名字: {{name}}</h3>
      <h3>地址: {{address}}</h3>
      <hr />
      <button @click="addSex">添加一个响应式性别属性</button>
      <h3>姓名：{{student.name}}</h3>
      <h3 v-if="student.sex">性别：{{student.sex}}</h3>
      <h3>年龄：真实{{student.age.rAge}}，虚拟{{student.age.vAge}}</h3>
      <h3>朋友：</h3>
      <ul>
        <li v-for="(per, index) in student.friends" :key="index">{{per.name}}--{{per.age}}</li>
      </ul>
    </div>

    <script type="text/javascript">
      // 阻止 vue 在启动时生成生产提示。
      Vue.config.productionTip = false;

      const vm = new Vue({
        el: "#root",
        data() {
          return {
            name: "Vue",
            address: "北京",
            student: {
              name: "Tom",
              age: {
                rAge: 40,
                vAge: 18,
              },
              friends: [
                {
                  name: "Jerry",
                  age: 28,
                },
                {
                  name: "Steven",
                  age: 38,
                },
              ],
            },
          };
        },
        methods: {
          addSex() {
            // Vue.set(this.student, "sex", "男");
            this.$set(this.student, "sex", "男");
          },
        },
      });
    </script>
  </body>
</html>
