// 定义外部的 wxs 脚本

// 转换小写
function toLower(str) {
  return str.toLowerCase();
}

// 手机号分隔
function splitPhone(str) {
  if (str.length !== 11) {
    return str;
  } else {
    var arr = str.split('');
    arr.splice(3, 0, '-');
    arr.splice(8, 0, '-');
    return arr.join('');
  }
}

// wxs 不支持 es6 语法
module.exports = {
  toLower: toLower,
  splitPhone: splitPhone
}